strategy: weighted_round_robin

server_configs:

  - host: "localhost"
    port: 3000
    protocol: "http"
    proxy_timeout: "10s"
    weight: 2
    health_check:
      path: "/health"
      interval: "3s"
      timeout: "3s"

  - host: "localhost"
    port: 3001
    protocol: "http"
    proxy_timeout: "15s"
    weight: 3
    health_check:
      path: "/health"
      interval: "5s"