strategy: round_robin

server_configs:

  - host: "localhost"
    port: 3000
    protocol: "http"
    proxy_timeout: "10s"
    health_check:
      path: "/health"
      interval: "10s"
      timeout: "3s"

  - host: "localhost"
    port: 3001
    protocol: "http"
    proxy_timeout: "15s"
    health_check:
      path: "/health"
      interval: "15s"